.Players {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card1-color);
  border-radius: 5px;
  padding: 10px;
}

.PlayerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  max-height: 400px;
  overflow-y: auto;
}

.PlayerHorizontal {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.Player {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Player button {
  margin-left: auto;
}

.UpdatePlayerProperties {
  display: flex;
  flex-direction: column;
}

.Property,
.Property input {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.Property label {
  width: 100px;
  min-width: fit-content;
}

.Property input:last-child {
  padding: 0;
  margin: 0;
  min-width: 20px;
  min-height: 20px;
}
