.GameModes {
  background-color: var(--card1-color);
  padding: 1rem;
  border-radius: 5px;
  align-items: center;
}

.GameModeList {
  display: flex;
  flex-direction: column;
  margin-top: 8px 0;
  padding: 0;
  gap: 2px;
}

.GameMode {
  display: flex;
  justify-content: center;
  border: solid 1px black;
  padding: 2px;
  border-radius: 5px;
  gap: 10px;
}

.GameMode span {
  width: 100%;
}

.GameMode:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.GameMode:active {
  color: grey;
}
