.GameModes {
  background-color: var(--card1-color);
  padding: 1rem;
  border-radius: 5px;
  align-items: center;
}

.GameModeList {
  margin: 0;
  padding: 0;
}

.GameMode {
  display: flex;
  gap: 10px;
}

.GameMode span {
  width: 100%;
}
