.Players {
  display: flex;
  justify-content: center;
  background-color: rgb(55, 51, 51);
  border-radius: 10px;
  width: min(700px, 95%);
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.PlayerInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  width: min(350px, 95%);
  margin: auto;
}

.PlayerInput input {
  border-radius: 5px;
  margin-right: 1rem;
  padding: 5px;
  border: solid 1px black;
}

.PlayerInput input:focus {
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.PlayerInput button {
  color: white;
  border-radius: 20px;
  background: linear-gradient(215deg, rgb(55, 62, 56) 0%, rgb(15, 16, 15) 100%);
  border: none;
  height: fit-content;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 100ms ease-in-out;
}

.PlayerInput button:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.Player {
  background-color: var(--accent-color);
  padding: 1rem;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  list-style-type: none;
  color: black;
  height: fit-content;
}

.Player button {
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 5px;
  padding: 0.2rem;
  margin-left: auto;
  border: none;
  background-color: rgb(255, 133, 133);
  cursor: pointer;
  font-weight: bold;
  transition: 100ms ease-in-out;
}

.Player button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 61, 61);
}

.Player ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.PropertyItem {
  list-style-type: none;
  display: flex;
  border-bottom: dotted 2px black;
}

.PropertyItem label {
  width: 100%;
}

.PropertyItem input {
  border-radius: 5px;
  margin-left: auto;
}

.PropertyItem input:focus {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
}
