* {
  --primary-color: #525252;
  --secondary-color: #2f2f2f;
  --tertiary-color: #252525;
  --accent-color: #a4b0b8;
  --background-color: #555d59;
  --text-color: #ffffff;
  --card1-color: #3a3a3a;
  --card2-color: #1f1f1f;
  --border-color: #000000;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
